# ==========================================
# 🔐 Secrets & environment files
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# 🖥️ OS / editor noise
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variables sensibles
*.tfvars
*.tfvars.json

# Overrides (poco usados pero correcto ignorarlos)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc
