.env
# ------------------------
# MySQL
# ------------------------
mysql/data/
mysql/backups/
!mysql/.gitkeep

# ------------------------
# WordPress core
# ------------------------
wordpress/wp-admin/
wordpress/wp-includes/
wordpress/*.php

# ------------------------
# Archivos personales
# ------------------------
wordpress/mkt/*.php
!wordpress/mkt/*.example.php

# ------------------------
# wp-content (todo ignorado por defecto)
# ------------------------
wordpress/wp-content/

# ------------------------
# Ignorar contenido dinámico
# ------------------------
wordpress/wp-content/uploads/
wordpress/wp-content/upgrade/
wordpress/wp-content/upgrade-temp-backup/
wordpress/wp-content/ai1wm-backups/
wordpress/wp-content/litespeed/
