# ------------------------
# Secrets & keys (NUNCA versionar)
# ------------------------
.env
*.pem
*token*
*.key
docker-compose.override.yml

# ------------------------
# MySQL
# ------------------------
mysql/data/
mysql/backups/
!mysql/.gitkeep

# ------------------------
# WordPress core
# ------------------------
wordpress/wp-admin/
wordpress/wp-includes/
wordpress/*.php
!wordpress/wp-config-sample.php

# ------------------------
# WordPress archivos personales
# ------------------------
wordpress/mkt/*.php
!wordpress/mkt/*.example.php

# ------------------------
# WordPress wp-content (todo ignorado por defecto)
# ------------------------
wordpress/wp-content/
